@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* common styles or utilities */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f3f1ff;
  background-image: url(images/icons/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 870px;
  border-radius: 18px;
  margin-top: 36px;
  padding: 0 30px;
  margin-bottom: 21px;
}
.section-title {
  color: rgb(63, 9, 110);
  margin: 30px 0;
}
hr {
  width: 807px;
  border: 1px solid rgb(104, 74, 74);
  text-align: center;
  margin-top: 30px;
}

/* navigation area styles */
.one {
  background-color: hsla(187, 80%, 70%, 0.3);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(132, 224, 96, 0.836);
}
.logo-area {
  display: flex;
  align-items: center;
  color: #5343e0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 41px;
  height: 51px;
  margin-right: 16px;
}
.logo-area p {
  font-size: 24px;
  font-weight: 500;
}
label {
  color: black;
  font-size: 26px;
  display: none;
}
#toggle {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
}
nav li {
  margin-right: 26px;
}
nav li a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 4px;
}
nav li a:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #001f3f;
  background-color: #fff;
}

nav ul img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/* top players and top blogs styles */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  transition: transform 0.3s ease-in-out;
}
.player img:hover {
  transform: scale(1.2);
}
.player-name {
  font-size: 18px;
}

/* Top blogs styles */
.top-blogs {
  margin-bottom: 40px;
  margin-left: 0;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px 40px;
  margin-top: 31px;
  margin-right: 50px;
}
.blog {
  display: flex;
  
}
.blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-details {
  margin-left: 16px;
}
.blog-title {
  margin-top: 0;
  margin-bottom: 6px;
  line-height: 34px;
}
.blog-author span {
  color: rgba(71, 68, 68, 0.89);
}
.blog-author a {
  text-decoration: none;
}

/* latest courses area */
.two {
  background-color: #00d8d485;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 40px;
}
.course {
  height: 269px;
  width: 252px;
  padding: 13px;
  background-color: rgb(231, 218, 218);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
}
.course-thumbnail img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-size: 20px;
  color: #1e1e1e;
  margin-top: 16px;
}
.course-author {
  color: #5343e0;
  margin-top: 7px;
  font-size: 15px;
}

.course-info {
  display: flex;
  align-items: center;
}
.course-info p {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffff00c2;
}
.fa-star.empty {
  color: #5c5a5a;
}
.course-duration {
  color: #dc143c;
  padding: 4px 6px;
  border-radius: 15px;
  background-color: rgba(235, 129, 151, 0.548);
}

/* customar-review section style  */
.three {
  background-color: rgba(187, 126, 126, 0.5);
}
.customar-satisfaction {
  margin-bottom: 40px;
}
.satisfactions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 40px;
}
.satisfaction {
  background-color: #59cca665;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.satisfaction:hover {
  transform: scale(1.1);
}
.customar-comment {
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  margin-bottom: 20px;
}
.customar-details {
  display: flex;
}
.customar-details img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.customar-name {
  font-size: 16px;
  margin-bottom: 4px;
}
.customar-details a {
  color: #2a15e9;
  font-size: 14px;
  text-decoration: none;
}
/* ---------------------------------------------------------------
                             footer area
  ------------------------------------------------*/

.dark-footer {
  width: 100%;
  height: auto;
  background-color: #000;
  margin-top: 50px;
}
.about-company {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  margin-bottom: 10px;
  padding-top: 10px;
}
.list h2 {
  color: #fff;
  font-size: 20px;
}
.list ul {
  list-style-type: none;
  padding: 0;
}
.list li a {
  font-size: 14px;
  color: #9f9f9fdc;
  text-decoration: none;
}
.list li a:hover {
  opacity: 0.5;
}
.list p {
  font-size: 14px;
  color: #9f9f9fa8;
}
.copyright-area {
  color: #9f9f9f;
  text-align: center;
}
.social-media {
  font-size: 24px;
}
.social-media a {
  margin-right: 10px;
}
.copyright-text {
  font-size: 14px;
  color: #9f9f9fa8;
  padding-bottom: 50px;
}
/* media quaries for mobile devices */

@media only screen and (max-width: 688px) {
  .section-title {
    margin-top: 0;
  }
  header {
    display: block;
  }

  /* media quaries on nav bar  */

  .logo-area {
    margin-left: 20px;
  }
  label {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  nav {
    display: none;
    background-color: rgb(231, 181, 181);
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  nav li {
    margin-bottom: 10px;
  }
  nav li:first-child {
    margin-top: 10px;
  }
  nav ul img {
    margin-right: 20px;
  }
  #toggle:checked + nav {
    display: block;
  }
  .container {
    width: 100%;
    padding: 30px;
  }

  /* media quries on players  */

  .top-players {
    margin-bottom: 10px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
  .player {
    display: flex;
    flex-direction: column;
  }
  hr {
    width: 100%;
    margin: 10px 0;
  }

  /* media quries on blogs  */

  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .blog-title {
    line-height: normal;
    margin-bottom: 15px;
  }

  /* media quries on courses  */

  .courses {
    margin-bottom: 0;
  }
  .courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .course {
    width: 100%;
    margin-bottom: 20px;
  }
  .course-thumbnail img {
    width: 80%;
  }

  /* media quries on customer riview */

  .customar-satisfaction {
    margin-bottom: 0;
  }
  .satisfactions {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  /* media quries on footer  */
.dark-footer{
  width: 100%;
}
.about-company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .list {
    text-align: center;
  }
  .company-name {
    width: 100%;
    margin-left: 100px;
  }
}

/* media quries for tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .player {
    display: flex;
    margin-left: 80px;
  }
  hr {
    width: 100%;
  }
  .blog-title {
    line-height: normal;
    margin-bottom: 15px;
  }
  .blog {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .blog-details {
    margin-top: 20px;
    margin-left: 0;
  }
  .courses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .course {
    width: 100%;
    margin-bottom: 20px;
  }
  .course-thumbnail img {
    width: 80%;
  }
}
